.cold {
    color: blue;
}

#hot {
    color: red;
}

.pos_test {
    width: 30%;
    height: 80px;
    border: 2px solid black;
    background-color: aliceblue;
    position: relative;
    left: 30px;
    top: 30px;
}

.inner {
    position: absolute;
    left: 30px;
    top: 30px;
}